.row {
    display: flex;
    flex-wrap: wrap;
     /* Optional: Remove margin between columns */
}

.col {
    flex: 1;
    max-width: calc(25% - 20px); /* Adjust for up to 4 images per row */
    padding: 10px; /* Optional: Add padding between images */
}

img {
    width: 100%;
    height: 100%;
    border: 2px solid goldenrod;
    object-fit: cover;
}


