.checkboxes-container {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 10%;
    background-color: #003840;
  }

  .checkbox
  {
    position: relative;
  }

  .checkboxes-container label
  {
    cursor: pointer;
  }

.checkboxes-container div 
{
    margin: 10px;
}
  .checkboxes-container div label input[type = "checkbox"]
  {
    display: none;
  } 

  .checkboxes-container div label span{
    position: relative;
    background: #424242;
    color: #555;
    display: inline-block;
    text-shadow: 0 1px 4px rgba(0,0,0,.5);
    border-radius: 30px;
    font-size: 20px;
    transition: 0.5s;
    user-select: none;
    overflow: hidden;
  }

    .checkboxes-container div label span::before
    {
        content: '';
        background: rgba(255,255,255,.1);

    }

    .checkboxes-container div:nth-child(8n+1) label input[type = "checkbox"]:checked~span
    {
        background: #ff0000;
        color: #fff;
        box-shadow: 0 2px 20px #ff0000;
    }

    .checkboxes-container div:nth-child(8n+2) label input[type = "checkbox"]:checked~span
    {
        background: rgb(0, 119, 255);
        color: #fff;
        box-shadow: 0 2px 20px rgb(0, 119, 255);
    }
    .checkboxes-container div:nth-child(8n+3) label input[type = "checkbox"]:checked~span
    {
        background: rgb(0, 119, 255);
        color: #fff;
        box-shadow: 0 2px 20px rgb(0, 119, 255);
    }
    .checkboxes-container div:nth-child(8n+4) label input[type = "checkbox"]:checked~span
    {
        background: rgb(0, 119, 255);
        color: #fff;
        box-shadow: 0 2px 20px rgb(0, 119, 255);
    }
    .checkboxes-container div:nth-child(8n+5) label input[type = "checkbox"]:checked~span
    {
        background: rgb(0, 119, 255);
        color: #fff;
        box-shadow: 0 2px 20px rgb(0, 119, 255);
    }
    .checkboxes-container div:nth-child(8n+6) label input[type = "checkbox"]:checked~span
    {
        background: rgb(0, 119, 255);
        color: #fff;
        box-shadow: 0 2px 20px rgb(0, 119, 255);
    }
    .checkboxes-container div:nth-child(8n+7) label input[type = "checkbox"]:checked~span
    {
        background: rgb(0, 119, 255);
        color: #fff;
        box-shadow: 0 2px 20px rgb(0, 119, 255);
    }
    .checkboxes-container div:nth-child(8n+8) label input[type = "checkbox"]:checked~span
    {
        background: #037d50;
        color: #fff;
        box-shadow: 0 2px 20px #037d50;
    }






  .checkbox {
    margin: 10px;
  }
  
  .checkbox label {
    display: inline-block;
    margin-left: 5px;
  }
  